{% extends "base.html" %}
{% block 'context' %}
<div id="profile-container">
    <div id="profile">
        <div id="user-img"><i id="icon" class="bi bi-person-circle"></i></div>
        <div id="user-data">
            <div class="user-info">
                <p>User name: {{user.first_name}} {{user.last_name}}</p>
            </div>
            <div class="user-info">
                <p>Email: {{user.email}}</p>
            </div>
            <div class="user-info">
                <p>Username: {{user.username}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock 'context' %}