{% extends "base.html" %}
{% block 'context' %}
<div class="profile-container">
    <div class="view-profile">
        <form class="input-form">
            <h1>Profile</h1>
            <div id="user-img">
                <div class="img" id="img">
                    {% if image != None%}
                    <img id="user-image" src="{{image.image.url}}" alt="user image">
                    {% else %}
                    <div id="user-img-icon"><i id="icon" class="bi bi-person-circle"></i></div>
                    {% endif %}
                    <div id="mouse-hover">
                        <i class="bi bi-card-image"></i>
                        <p id="msg-text">Update your image</p>
                    </div>
                </div>
            </div>
            <p>Name</p>
            <input type="text" value="{{user.first_name}} {{user.last_name}}">
            <p>Username</p>
            <input type="text" value="{{user.username}}">
            <p>Email</p>
            <input type="email" value="{{user.email}}">
        </form>
    </div>
    <div class="empty-space"></div>
</div>
{% endblock 'context' %}